h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
    text-align: center;
    text-decoration: underline
  
}
#list {
    background-color:;
    line-height: 20px;
}
.gray {
    background-color: gray;
}

p {
  font-weight: 600;
  font-size: 3em;
}
body {
  font-size: 16px;
}
#yellow {
  background-color: yellow;
}
#red{
background-color: red;
color: white;
}
#brown{
  background-color: brown;
}